<mat-grid-list cols="3" role="list">
  <mat-grid-tile
    class="locations-list"
    *ngFor="let location of locations"
    role="listitem"
  >
    <mat-card class="location-card">
      <mat-card-header>
        <mat-card-title>
          {{ location.name }}
        </mat-card-title>
        <mat-card-subtitle>{{ location.address }}</mat-card-subtitle>
      </mat-card-header>

      <img
        mat-card-image
        src="{{ location.picture }}"
        alt="No image available"
      />

      <mat-card-actions>
        <a
          mat-button
          [routerLink]="['/edit-location', location.id]"
          routerLinkActive="active"
        >
          Edit
        </a>
        <a
          mat-button
          [routerLink]="['/location', location.id, 'layout']"
          routerLinkActive="active"
        >
          Layouts
        </a>
        <a
          mat-button
          [routerLink]="['/location', location.id, 'add-layout']"
          routerLinkActive="active"
        >
          Add layout
        </a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
