<form [formGroup]="searchEventsForm" class="form">
  <div class="search-events">
    <mat-form-field class="search">
      <mat-label>Search events</mat-label>
      <input matInput formControlName="name" type="search" />
    </mat-form-field>
    <button mat-fab color="primary" type="submit" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div class="search-events">
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Advanced search
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Location" formControlName="location" />
      </mat-form-field>

      <mat-form-field>
        <mat-select
          multiple
          formControlName="categories"
          placeholder="Categories"
        >
          <mat-option
            *ngFor="let category of categoryList"
            [value]="category"
            >{{ category }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker1"
          placeholder="Date begin"
          formControlName="dateBegin"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="searchEventsForm.get('dateBegin').hasError">
          Invalid date
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker2"
          placeholder="Date end"
          formControlName="dateEnd"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="searchEventsForm.get('dateEnd').hasError">
          Invalid date
        </mat-error>
      </mat-form-field>
    </mat-expansion-panel>
  </div>
</form>

<mat-grid-list
  [cols]="breakpoint"
  role="list"
  rowHeight="500px"
  gutterSize="20px"
  (window:resize)="onResize($event)"
>
  <mat-grid-tile
    class="flex-start"
    *ngFor="let event of eventList"
    role="listitem"
  >
    <mat-card class="event-card mat-elevation-z10">
      <mat-card-header>
        <mat-card-title>
          {{ event.name }}
        </mat-card-title>
        <mat-card-subtitle>{{ event.eventCategory }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ event.picture }}" alt="No image available" />
      <mat-card-content>
        <p>
          {{ event.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a
          mat-button
          [routerLink]="['/event', event.id]"
          routerLinkActive="active"
          >Details</a
        >
        <a
          *ngIf="isAdmin"
          mat-button
          [routerLink]="['/edit-event', event.id]"
          routerLinkActive="active"
        >
          Edit
        </a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
