.mat-expansion-panel {
  box-shadow: none;
}
.event-card {
  width: 80%;
}

mat-card {
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}
mat-card::-webkit-scrollbar {
  display: none;
}

mat-card-actions {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.search-events {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.search-events-form {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

mat-form-field {
  margin-left: 20px;
  margin-right: 20px;
}

.search {
  width: 400px;
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
}

.form {
  margin-top: 50px;
}

mat-grid-list {
  width: 60%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
mat-grid-tile {
  overflow: visible !important;
}
