mat-card {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0;
  min-width: 700px;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  margin: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center > mat-form-field {
  width: 100%;
  margin: 5px 10px;
}
