<mat-card class="mat-elevation-z10">
  <mat-tab-group>
    <mat-tab label="Info">
      <form [formGroup]="userProfile" class="profile">
        <div class="flex-center">
          <mat-form-field>
            <input
              matInput
              formControlName="email"
              placeholder="Email"
              type="text"
              name="email"
            />
            <mat-error *ngIf="userProfile.hasError('required', 'email')">
              Email is required
            </mat-error>
            <mat-error *ngIf="userProfile.hasError('email', 'email')">
              Email is not valid
            </mat-error>
          </mat-form-field>
        </div>

        <div class="flex-center">
          <mat-form-field>
            <input
              matInput
              formControlName="firstName"
              placeholder="First name"
              type="text"
              name="firstName"
            />
            <mat-error *ngIf="userProfile.hasError('required', 'firstName')">
              First name is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              formControlName="lastName"
              placeholder="Last name"
              type="text"
              name="lastName"
            />
            <mat-error *ngIf="userProfile.hasError('required', 'lastName')">
              Last name is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="flex-center">
          <button
            mat-stroked-button
            color="primary"
            class="button button-primary"
            (click)="updateProfile()"
            [disabled]="!userProfile.valid"
          >
            Save
          </button>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Change password">
      <form
        [formGroup]="userPassword"
        (ngSubmit)="changePassword()"
        class="profile"
      >
        <div class="flex-center">
          <mat-form-field>
            <input
              matInput
              formControlName="password1"
              placeholder="Password"
              type="password"
            />
            <mat-error
              *ngIf="userPassword.controls.password1.value.length > 255"
            >
              Password can be maximum 255 characters long
            </mat-error>
            <mat-error *ngIf="userPassword.hasError('required', 'password1')">
              Password is required
            </mat-error>
            <mat-error *ngIf="userPassword.hasError('minlength', 'password1')">
              Password must be at least 6 characters long
            </mat-error>
          </mat-form-field>
        </div>

        <div class="flex-center">
          <mat-form-field>
            <input
              matInput
              formControlName="password2"
              placeholder="Confirm password"
              [errorStateMatcher]="matcher"
              type="password"
            />
            <mat-error *ngIf="userPassword.hasError('notSame')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>

        <div class="flex-center">
          <button mat-stroked-button color="primary" type="submit" [disabled]="!userPassword.valid">
            Change password
          </button>
        </div>
      </form>
    </mat-tab>

    <mat-tab *ngIf="!isAdmin" label="My reservations">
      <reservations></reservations>
    </mat-tab>

    <mat-tab *ngIf="!isAdmin" label="My tickets">
      <tickets></tickets>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<div class="flex-center">
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
</div>
