<div class="add-layout-form">
  <mat-card>
    <div class="header">
      <div class="grid-container">
        <div class="grid-item-blank"></div>
        <div class="grid-item" [ngSwitch]="northSection">
          <div *ngSwitchCase="'seatingArea'">
            <seating-layout [seatsLayout]="seatsLayoutN" [isDisabled]="true" (confirm)="getSelected($event)"></seating-layout>
          </div>
          <div *ngSwitchCase="'standingArea'" class="layout-label">
            STANDING AREA
          </div>
          <div *ngSwitchCase="'stage'" class="layout-label" >
            STAGE
          </div>
          <div *ngSwitchDefault class="layout-label" >
            N
          </div>
        </div>
        <div class="grid-item-blank"></div>
        <div class="grid-item" [ngSwitch]="westSection">
          <div *ngSwitchCase="'seatingArea'">
            <seating-layout [seatsLayout]="seatsLayoutW" [isDisabled]="true" (confirm)="getSelected($event)"></seating-layout>
          </div>
          <div *ngSwitchCase="'standingArea'" class="layout-label">
            STANDING AREA
          </div>
          <div *ngSwitchCase="'stage'" class="layout-label">
            STAGE
          </div>
          <div *ngSwitchDefault class="layout-label">
            W
          </div>
        </div>
        <div class="grid-item" [ngSwitch]="middleSection">
          <div *ngSwitchCase="'seatingArea'">
            <seating-layout [seatsLayout]="seatsLayoutM" [isDisabled]="true" (confirm)="getSelected($event)"></seating-layout>
          </div>
          <div *ngSwitchCase="'standingArea'" class="layout-label">
            STANDING AREA
          </div>
          <div *ngSwitchCase="'stage'" class="layout-label">
            STAGE
          </div>
          <div *ngSwitchDefault class="layout-label">
            M
          </div>
        </div>
        <div class="grid-item" [ngSwitch]="eastSection">
          <div *ngSwitchCase="'seatingArea'">
            <seating-layout [seatsLayout]="seatsLayoutE" [isDisabled]="true" (confirm)="getSelected($event)"></seating-layout>
          </div>
          <div *ngSwitchCase="'standingArea'" class="layout-label">
            STANDING AREA
          </div>
          <div *ngSwitchCase="'stage'" class="layout-label">
            STAGE
          </div>
          <div *ngSwitchDefault class="layout-label">
            E
          </div>
        </div>
        <div class="grid-item-blank"></div>
        <div class="grid-item" [ngSwitch]="southSection">
          <div *ngSwitchCase="'seatingArea'" class="layout-label">
            <seating-layout [seatsLayout]="seatsLayoutS" [isDisabled]="true" (confirm)="getSelected($event)"></seating-layout>
          </div>
          <div *ngSwitchCase="'standingArea'" class="layout-label">
            STANDING AREA
          </div>
          <div *ngSwitchCase="'stage'" class="layout-label">
            STAGE
          </div>
          <div *ngSwitchDefault class="layout-label">
            S
          </div>
        </div>
        <div class="grid-item-blank"></div>
      </div>
    </div>

    <div class="row">
      <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="layoutFG">
          <form [formGroup]="layoutFG">
            <ng-template matStepLabel>Layout name and stage position</ng-template>
            <mat-form-field>
              <input name="layoutName" matInput placeholder="Layout name" formControlName="layoutName">
              <mat-error *ngIf="layoutFG.hasError('required', 'layoutName')">
                Layout name is required.
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Stage position</mat-label>
              <mat-select name="stagePosition"  formControlName="stagePosition">
                <mat-option *ngFor="let position of layoutPositions" [value]="position.value">
                  {{position.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="layoutFG.hasError('required', 'stagePosition')">
                Stage position is required.
              </mat-error>
            </mat-form-field>
            <div>
              <button mat-button color="primary" [disabled]="!layoutFG.valid" (click)="onNext()" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [optional]="true">
          <form [formGroup]="seatingAreaFG" >
            <ng-template matStepLabel>Add seating areas</ng-template>
              <mat-form-field>
                <input name="rowNum" matInput placeholder="Row number" formControlName="rowNum">
                <mat-error *ngIf="seatingAreaFG.hasError('required', 'rowNum')">
                  Row number is required.
                </mat-error>
                <mat-error *ngIf="seatingAreaFG.hasError('min', 'rowNum') || seatingAreaFG.hasError('max', 'rowNum')">
                  Row number must be between 1 and 7.
                </mat-error>
                <mat-error *ngIf="seatingAreaFG.hasError('pattern', 'rowNum')">
                  Row number must be whole number.
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input name="seatsNum" matInput placeholder="Seats per row" formControlName="seatNum">
                <mat-error *ngIf="seatingAreaFG.hasError('required', 'seatNum')">
                  Seats number is required.
                </mat-error>
                <mat-error *ngIf="seatingAreaFG.hasError('min', 'seatNum') || seatingAreaFG.hasError('max', 'seatNum')">
                  Seats number must be between 1 and 7.
                </mat-error>
                <mat-error *ngIf="seatingAreaFG.hasError('pattern', 'seatNum')">
                  Seats number must be whole number.
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Seating area position</mat-label>
                <mat-select name="layoutPositionSittingArea" formControlName="layoutPosition">
                  <mat-option *ngFor="let position of layoutPositions" [value]="position.value">
                    {{position.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="seatingAreaFG.hasError('required', 'layoutPosition')">
                  Seating area position is required.
                </mat-error>
              </mat-form-field>
              <div>
                <button mat-raised-button [disabled]="!seatingAreaFG.valid" (click)="addSeatingArea()">Add</button>
              </div>
            <br>
            <div>
              <button mat-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [optional]="true">
          <form [formGroup]="standingAreaFG">
            <ng-template matStepLabel>Add standing areas</ng-template>
            <mat-form-field>
              <input name="maxNumber" matInput placeholder="Max number of people" formControlName="maxNumber">
              <mat-error *ngIf="standingAreaFG.hasError('required', 'maxNumber')">
                Max number is required.
              </mat-error>
              <mat-error *ngIf="standingAreaFG.hasError('min', 'maxNumber')">
                Max number must be 1 or above.
              </mat-error>
              <mat-error *ngIf="standingAreaFG.hasError('pattern', 'maxNumber')">
                Max number must be whole number.
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Standing area position</mat-label>
              <mat-select name="layoutPositionStandingArea" formControlName="layoutPosition">
                <mat-option *ngFor="let position of layoutPositions" [value]="position.value">
                  {{position.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="standingAreaFG.hasError('required', 'layoutPosition')">
                Standing area position is required.
              </mat-error>
            </mat-form-field>
            <div>
              <button mat-raised-button [disabled]="!standingAreaFG.valid" (click)="addStandingArea()">Add</button>
            </div>
            <br>
            <div>
              <button mat-button color="primary" matStepperPrevious>Back</button>
              <button mat-button color="primary" matStepperNext>Finish</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div>
            <button mat-button color="primary" matStepperPrevious>Back</button> 
            <br>
            <button mat-button color="accent" (click)="stepper.reset(); reset()">Reset</button>
            <br>
            <button mat-raised-button color="primary" [disabled]="this.seatingAreas.length == 0 && this.standingAreas.length == 0" (click)="submit()">Submit</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </mat-card>
</div>
