mat-card {
  text-align: center;
  width: 60%;
}

* {
  box-sizing: border-box;
}

.header {
  border: 1px solid grey;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.menu a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  width: 100%;
}

.add-layout-form {
  margin-top: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  width:800px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
}

.grid-item-blank {
  background-color: white;
  font-size: 30px;
  text-align: center;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.layout-label {
  text-align: center;
  vertical-align: middle;
  color: grey;
  line-height: 250px;
}