mat-card {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#event-details {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

.mat-table {
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  text-align: center;
}
