<div id="event-details">
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ event.name }}</mat-card-title>
      <mat-card-subtitle>{{ event.eventCategory }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="{{ event.picture }}" alt="Event image" />

    <mat-card-content>
      <p>
        {{ event.description }}
      </p>

      <table mat-table [dataSource]="priceList">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.date | date: "dd.MM.yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="areaType">
          <th mat-header-cell *matHeaderCellDef>Area type</th>
          <td mat-cell *matCellDef="let element">
            {{ element.areaType | areaTypePipe }}
          </td>
        </ng-container>

        <ng-container matColumnDef="areaPosition">
          <th mat-header-cell *matHeaderCellDef>Area position</th>
          <td mat-cell *matCellDef="let element">
            {{ element.position }}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{ element.price }}</td>
        </ng-container>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>Select</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="selectPriceList(element)">
              Select
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
