mat-card {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.header {
  border: 1px solid grey;
  padding: 15px;
}

.display {
  margin-top: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  width:800px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
}

.grid-item-blank {
  background-color: white;
  font-size: 30px;
  text-align: center;
}

.text-label {
  color: grey;
}

.layout-label {
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}
