<div class="display">
  <mat-card>
    <mat-card-header>
      <mat-card-title> {{ layout.id }} - {{ layout.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div clsss="header">
        <div class="grid-container">
          <div class="grid-item-blank"></div>
          <div class="grid-item" [ngSwitch]="layout.northSection">
            <div *ngSwitchCase="'seatingArea'" class="text-label">
              <seating-layout
                [seatsLayout]="layout.seatsLayoutN"
                [isDisabled]="true"
                (confirm)="getSelected($event)"
              ></seating-layout>
            </div>
            <div *ngSwitchCase="'STAGE'" class="layout-label text-label">
              STAGE
            </div>
            <div *ngSwitchCase="''"></div>
            <div *ngSwitchDefault class="layout-label text-label">
              Capacity: {{ layout.northSection }}
            </div>
          </div>
          <div class="grid-item-blank"></div>
          <div class="grid-item" [ngSwitch]="layout.westSection">
            <div *ngSwitchCase="'seatingArea'" class="text-label">
              <seating-layout
                [seatsLayout]="layout.seatsLayoutW"
                [isDisabled]="true"
                (confirm)="getSelected($event)"
              ></seating-layout>
            </div>
            <div *ngSwitchCase="'STAGE'" class="layout-label text-label">
              STAGE
            </div>
            <div *ngSwitchCase="''"></div>
            <div *ngSwitchDefault class="layout-label text-label">
              Capacity: {{ layout.westSection }}
            </div>
          </div>
          <div class="grid-item" [ngSwitch]="layout.middleSection">
            <div *ngSwitchCase="'seatingArea'" class="text-label">
              <seating-layout
                [seatsLayout]="layout.seatsLayoutM"
                [isDisabled]="true"
                (confirm)="getSelected($event)"
              ></seating-layout>
            </div>
            <div *ngSwitchCase="'STAGE'" class="layout-label text-label">
              STAGE
            </div>
            <div *ngSwitchCase="''"></div>
            <div *ngSwitchDefault class="layout-label text-label">
              Capacity: {{ layout.middleSection }}
            </div>
          </div>
          <div class="grid-item" [ngSwitch]="layout.eastSection">
            <div *ngSwitchCase="'seatingArea'" class="text-label">
              <seating-layout
                [seatsLayout]="layout.seatsLayoutE"
                [isDisabled]="true"
                (confirm)="getSelected($event)"
              ></seating-layout>
            </div>
            <div *ngSwitchCase="'STAGE'" class="layout-label text-label">
              STAGE
            </div>
            <div *ngSwitchCase="''"></div>
            <div *ngSwitchDefault class="layout-label text-label">
              Capacity: {{ layout.eastSection }}
            </div>
          </div>
          <div class="grid-item-blank"></div>
          <div class="grid-item" [ngSwitch]="layout.southSection">
            <div *ngSwitchCase="'seatingArea'" class="text-label">
              <seating-layout
                [seatsLayout]="layout.seatsLayoutS"
                [isDisabled]="true"
                (confirm)="getSelected($event)"
              ></seating-layout>
            </div>
            <div *ngSwitchCase="'STAGE'" class="layout-label text-label">
              STAGE
            </div>
            <div *ngSwitchCase="''"></div>
            <div *ngSwitchDefault class="layout-label text-label">
              Capacity: {{ layout.southSection }}
            </div>
          </div>
          <div class="grid-item-blank"></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
