<table mat-table [dataSource]="myTickets">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.date | date: "dd.MM.yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="eventName">
    <th mat-header-cell *matHeaderCellDef>Event</th>
    <td mat-cell *matCellDef="let element">{{ element.eventName }}</td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef>Location</th>
    <td mat-cell *matCellDef="let element">{{ element.location }}</td>
  </ng-container>

  <ng-container matColumnDef="rowNum">
    <th mat-header-cell *matHeaderCellDef>Row</th>
    <td mat-cell *matCellDef="let element">{{ element.rowNum }}</td>
  </ng-container>

  <ng-container matColumnDef="seatNum">
    <th mat-header-cell *matHeaderCellDef>Seat</th>
    <td mat-cell *matCellDef="let element">
      {{ element.seatNum | seatNumPipe }}
    </td>
  </ng-container>

  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef>Purchased</th>
    <td mat-cell *matCellDef="let element">
      {{ element.timestamp | date: "dd.MM.yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">
      {{ element.price }}
    </td>
  </ng-container>

  <ng-container matColumnDef="qr">
    <th mat-header-cell *matHeaderCellDef>QR</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="showQR(element.ticketId)">
        <mat-icon>launch</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>
