mat-card {
  width: 50%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  min-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.width-100 {
  width: 100%;
}
.info {
  margin: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-space-between mat-form-field {
  width: 32%;
  margin: 10px 0px;
}
mat-tab-group {
  width: 100%;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.flex-row mat-form-field {
  margin: 2px 5px;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 5;
}
