<mat-card class="card-form">
  <mat-tab-group>
    <mat-tab label="Event info">
      <div class="info">
        <form [formGroup]="editEventForm">
          <div class="flex-space-between">
            <mat-form-field>
              <input
                matInput
                formControlName="name"
                placeholder="Name"
                type="text"
              />
              <mat-error *ngIf="editEventForm.get('name').value === ''">
                Name required
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select
                formControlName="eventCategory"
                placeholder="Category"
              >
                <mat-option
                  *ngFor="let category of categoryList"
                  [value]="category"
                >
                  {{ category }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="editEventForm.get('eventCategory').value === ''">
                Category required
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                formControlName="picture"
                placeholder="Image link"
                type="url"
              />
              <mat-error *ngIf="editEventForm.get('picture').value === ''">
                Image required
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              formControlName="description"
              rows="6"
            ></textarea>
            <mat-error *ngIf="editEventForm.get('description').value === ''">
              Description required
            </mat-error>
          </mat-form-field>

          <div class="flex-center">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              (click)="submit()"
            >
              Update event
            </button>
          </div>
        </form>
      </div>
    </mat-tab>

    <mat-tab label="Schedule">
      <div class="flex-center">
        <button mat-stroked-button color="primary" (click)="addPriceList()">
          Add price list
        </button>
      </div>
      <form [formGroup]="addPriceListsForm">
        <div
          formArrayName="priceLists"
          *ngFor="
            let item of addPriceListsForm.get('priceLists').controls;
            let i = index
          "
        >
          <div class="flex-row" [formGroupName]="i">
            <mat-form-field class="flex-grow-2">
              <input
                matInput
                [matDatepicker]="priceListDatePicker"
                placeholder="Date"
                formControlName="date"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="priceListDatePicker"
              ></mat-datepicker-toggle>
              <mat-error *ngIf="item.get('date').hasError">
                Invalid date
              </mat-error>
              <mat-datepicker #priceListDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="flex-grow-2">
              <input
                matInput
                formControlName="areaType"
                placeholder="Area type"
              />
              <mat-error *ngIf="item.get('areaType').hasError">
                Field required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="flex-grow-1">
              <input matInput formControlName="areaId" placeholder="Area ID" />
              <mat-error *ngIf="item.get('areaId').hasError">
                Field required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="flex-grow-1">
              <input matInput formControlName="price" placeholder="Price" />
              <mat-error *ngIf="item.hasError('required', 'price'); else invalid">
                Field required
              </mat-error>
              <ng-template #invalid>
                <mat-error *ngIf="item.get('price').hasError">
                  Invalid number
                </mat-error>
              </ng-template>
            </mat-form-field>

            <a mat-button color="warn" (click)="removePriceList(i)">
              <mat-icon>
                clear
              </mat-icon>
            </a>
          </div>
        </div>
        <div class="flex-center">
          <button mat-raised-button color="primary" (click)="updatePriceList()">
            Update event
          </button>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>
