<div class="container">
  <mat-card class="mat-elevation-z10">
    <mat-horizontal-stepper #stepper>
      <!-- Event Info -->
      <mat-step [stepControl]="createEventForm">
        <form [formGroup]="createEventForm">
          <ng-template matStepLabel>Event Info</ng-template>

          <div class="flex-center">
            <mat-form-field>
              <input
                matInput
                formControlName="name"
                placeholder="Name"
                type="text"
              />
              <mat-error *ngIf="createEventForm.get('name').value === ''">
                Name required
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select
                formControlName="eventCategory"
                placeholder="Category"
              >
                <mat-option
                  *ngFor="let category of categoryList"
                  [value]="category"
                >
                  {{ category }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createEventForm.get('eventCategory').value === ''">
                Category required
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                formControlName="picture"
                placeholder="Image link"
                type="url"
              />
              <mat-error *ngIf="createEventForm.get('picture').value === ''">
                Image link required
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              formControlName="description"
              rows="5"
            ></textarea>
            <mat-error *ngIf="createEventForm.hasError('required', 'description')">
              Description required
            </mat-error>
            <mat-error *ngIf="createEventForm.get('description').value.length > 255">
              Maximum number of characters allowed is 255
            </mat-error>
          </mat-form-field>

          <div class="flex-center">
            <mat-form-field>
              <input
                matInput
                formControlName="daysReservationIsValid"
                placeholder="Reservation is valid"
                type="number"
              />
              <mat-hint>Days</mat-hint>
              <mat-error *ngIf="createEventForm.hasError('required', 'daysReservationIsValid'); else notShow">
                Field required
              </mat-error>
              <ng-template #notShow>
                <mat-error *ngIf="createEventForm.get('daysReservationIsValid').hasError">
                  Invalid number
                </mat-error>
              </ng-template>
            </mat-form-field>

            <mat-form-field>
              <mat-select
                formControlName="locationId"
                placeholder="Location"
                (selectionChange)="onLocationChange($event)"
              >
                <mat-option
                  *ngFor="let location of locationList"
                  [value]="location.id"
                >
                  {{ location.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createEventForm.get('locationId').value === ''">
                Location required
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select formControlName="layoutId" placeholder="Layout">
                <mat-option
                  *ngFor="let layout of layoutList"
                  [value]="layout.id"
                >
                  {{ layout.layoutName }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createEventForm.get('layoutId').value === ''">
                Layout required
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                [matDatepicker]="datePicker"
                placeholder="Available until"
                formControlName="reservationsAvailable"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="datePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
              <mat-hint>Date</mat-hint>
              <mat-error *ngIf="createEventForm.get('reservationsAvailable').hasError">
                Invalid date
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                formControlName="maxReservationNumber"
                placeholder="Max reservations"
                type="number"
              />
              <mat-error *ngIf="createEventForm.hasError('required', 'maxReservationNumber'); else invalid">
                Field required
              </mat-error>
              <ng-template #invalid>
                <mat-error *ngIf="createEventForm.get('maxReservationNumber').hasError">
                  Invalid number
                </mat-error>
              </ng-template>
            </mat-form-field>
          </div>

          <div class="flex-center">
            <button mat-raised-button matStepperNext>
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <!-- Price list -->
      <mat-step [stepControl]="priceListForm">
        <form [formGroup]="priceListForm">
          <ng-template matStepLabel>Schedule</ng-template>
          <div class="flex-center">
            <button mat-stroked-button color="primary" (click)="addPriceList()">
              Add price list
            </button>
          </div>
          <div
            formArrayName="priceLists"
            *ngFor="
              let item of priceListForm.get('priceLists').controls;
              let i = index
            "
          >
            <div [formGroupName]="i">
              <div class="flex-center">
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="priceListDatePicker"
                    placeholder="Date"
                    formControlName="date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="priceListDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #priceListDatePicker></mat-datepicker>
                  <mat-error *ngIf="item.get('date').hasError">
                    Invalid date
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-select
                    formControlName="areaType"
                    placeholder="Area type"
                    (selectionChange)="onAreaChange($event)"
                  >
                    <mat-option [value]="0">
                      Sitting area
                    </mat-option>
                    <mat-option [value]="1">
                      Standing area
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="item.get('areaType').hasError">
                    Field required
                  </mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="item.controls.areaType.value === 0">
                  <mat-select formControlName="areaId" placeholder="Area">
                    <mat-option
                      *ngFor="let area of sittingAreaList"
                      [value]="area.id"
                    >
                      {{ area.layoutPosition }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="item.get('areaId').hasError">
                    Field required
                  </mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="item.controls.areaType.value === 1">
                  <mat-select formControlName="areaId" placeholder="Area">
                    <mat-option
                      *ngFor="let area of standingAreaList"
                      [value]="area.id"
                    >
                      {{ area.layoutPosition }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="item.get('areaId').hasError">
                    Field required
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput formControlName="price" placeholder="Price" type="number"/>
                  <mat-error *ngIf="item.hasError('required', 'price'); else invalid">
                    Field required
                  </mat-error>
                  <ng-template #invalid>
                    <mat-error *ngIf="item.get('price').hasError">
                      Invalid number
                    </mat-error>
                  </ng-template>
                </mat-form-field>

                <a mat-button (click)="removePriceList(i)">
                  <mat-icon>clear</mat-icon>
                </a>
              </div>
            </div>
          </div>

          <div class="flex-center">
            <button mat-raised-button matStepperPrevious>
              Back
            </button>
            <button mat-raised-button matStepperNext>
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <!-- Done -->
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="flex-center">
          <button mat-raised-button color="warn" (click)="stepper.reset()">
            Reset
          </button>
          <button mat-raised-button matStepperPrevious>
            Back
          </button>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="submit()"
          >
            Create event
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>
