mat-card {
  margin-top: 5%;
  margin-bottom: 5%;
  min-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
mat-form-field {
  width: 100%;
  margin: 5px;
}

mat-horizontal-stepper {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
}
.flex-center > button {
  margin: 10px;
}

mat-grid-list {
  height: 80px;
}

textarea {
  resize: none;
}

.container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
