<table mat-table [dataSource]="myReservations">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row; let index">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
        [aria-label]="checkboxLabel(row, index)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.date | date: "dd.MM.yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="eventName">
    <th mat-header-cell *matHeaderCellDef>Event</th>
    <td mat-cell *matCellDef="let element">{{ element.eventName }}</td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef>Location</th>
    <td mat-cell *matCellDef="let element">{{ element.location }}</td>
  </ng-container>

  <ng-container matColumnDef="rowNum">
    <th mat-header-cell *matHeaderCellDef>Row</th>
    <td mat-cell *matCellDef="let element">{{ element.rowNum }}</td>
  </ng-container>

  <ng-container matColumnDef="seatNum">
    <th mat-header-cell *matHeaderCellDef>Seat</th>
    <td mat-cell *matCellDef="let element">
      {{ element.seatNum | seatNumPipe }}
    </td>
  </ng-container>

  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef>Reserved</th>
    <td mat-cell *matCellDef="let element">
      {{ element.timestamp | date: "dd.MM.yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">
      {{ element.price }}
    </td>
  </ng-container>

  <ng-container matColumnDef="cancel">
    <th mat-header-cell *matHeaderCellDef>Cancel</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button
        mat-button
        color="warn"
        (click)="cancelReservation(element.ticketId, i)"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>

<div class="flex-center" *ngIf="!paypalContainer.nativeElement.innerHTML">
  <button mat-raised-button color="primary" (click)="renderPayPal()">
    Buy
  </button>
</div>
<div class="flex-center">
  <div #paypalButtonContainer></div>
</div>
