.mat-table {
  min-width: 100%;
}

.mat-cell,
.mat-header-cell {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.flex-center {
  display: flex;
  justify-content: center;
  margin: 20px;
}
