<form [formGroup]="editLocationForm" class="card-form">
  <mat-card class="mat-elevation-z10">
    <mat-form-field class="form-field">
      <input
        matInput
        name="name"
        formControlName="name"
        placeholder="Name"
        type="text"
      />
      <mat-error *ngIf="editLocationForm.hasError('required', 'name')">
        Name is required
      </mat-error>

      <mat-error *ngIf="editLocationForm.get('name').value.length > 255">
        Maximum number of characters allowed is 255
      </mat-error>
    </mat-form-field>

    <br />
    <mat-form-field class="form-field">
      <input
        matInput
        name="address"
        formControlName="address"
        placeholder="Address"
      />
      <mat-error *ngIf="editLocationForm.hasError('required', 'address')">
        Address is required
      </mat-error>
      <mat-error *ngIf="editLocationForm.get('address').value.length > 255">
        Maximum number of characters allowed is 255
      </mat-error>
    </mat-form-field>

    <br />
    <mat-form-field class="form-field">
      <input
        matInput
        name="picture"
        formControlName="picture"
        placeholder="Image link"
      />
      <mat-error *ngIf="editLocationForm.hasError('required', 'picture')">
        Image is required
      </mat-error>
    </mat-form-field>

    <br />
    <button
      mat-raised-button
      color="primary"
      class="button button-primary"
      id="submitLocation"
      (click)="submit()"
      [disabled]="!editLocationForm.valid"
    >
      Update location
    </button>
  </mat-card>
</form>
