<mat-dialog-content>
  <div *ngIf="areaType === 'STANDING_AREA'">
    <form [formGroup]="standingAreaForm">
      <div class="flex-center">
        <mat-form-field>
          <input
            type="number"
            formControlName="numberOfTickets"
            matInput
            placeholder="Number of tickets"
            (input)="
              totalPrice =
                $event.target.value < 0 ? 0 : $event.target.value * price
            "
          />
          <mat-error *ngIf="standingAreaForm.hasError('required', 'numberOfTickets'); else invalid">
            Field required
          </mat-error>
          <ng-template #invalid>
            <mat-error *ngIf="standingAreaForm.get('numberOfTickets').hasError">
              Invalid number
            </mat-error>
          </ng-template>
        </mat-form-field>
      </div>
      <div class="flex-center">
        <button
          mat-raised-button
          color="primary"
          (click)="reserveTicketStandingArea()"
        >
          Reserve
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="areaType === 'SITTING_AREA' && layout">
    <seating-layout
      *ngIf="position == 'E'"
      [seatsLayout]="layout.seatsLayoutE"
      (confirm)="getSelected($event)"
      [unavailable]="layout.seatsLayoutE.unavailable"
    >
    </seating-layout>

    <seating-layout
      *ngIf="position == 'W'"
      [seatsLayout]="layout.seatsLayoutW"
      (confirm)="getSelected($event)"
      [unavailable]="layout.seatsLayoutW.unavailable"
    >
    </seating-layout>

    <seating-layout
      *ngIf="position == 'S'"
      [seatsLayout]="layout.seatsLayoutS"
      (confirm)="getSelected($event)"
      [unavailable]="layout.seatsLayoutS.unavailable"
    >
    </seating-layout>

    <seating-layout
      *ngIf="position == 'N'"
      [seatsLayout]="layout.seatsLayoutN"
      (confirm)="getSelected($event)"
      [unavailable]="layout.seatsLayoutN.unavailable"
    >
    </seating-layout>

    <seating-layout
      *ngIf="position == 'M'"
      [seatsLayout]="layout.seatsLayoutM"
      (confirm)="getSelected($event)"
      [unavailable]="layout.seatsLayoutM.unavailable"
    >
    </seating-layout>
    <div *ngIf="!isAdmin" class="flex-center">
      <button
        mat-raised-button
        color="primary"
        (click)="reserveTicketSittingArea()"
      >
        Reserve
      </button>
    </div>
    <div *ngIf="!isAdmin" class="flex-center">
      <mat-error *ngIf="!selectedSeats || selectedSeats.length === 0">
        No seats selected
      </mat-error>
    </div>
  </div>
  <div class="flex-center">Total price: {{ totalPrice }} $</div>
  <div #paypalButtonContainer></div>
</mat-dialog-content>
