<form [formGroup]="addLocationForm" class="card-form">
  <mat-card class="mat-elevation-z10">
    <mat-form-field class="form-field">
      <input
        matInput
        name="name"
        formControlName="name"
        placeholder="Name"
        type="text"
      />
      <mat-error *ngIf="addLocationForm.hasError('required', 'name')">
        Name is required
      </mat-error>

      <mat-error *ngIf="addLocationForm.get('name').value.length > 255">
        Maximum number of characters allowed is 255
      </mat-error>
    </mat-form-field>

    <br />
    <mat-form-field class="form-field">
      <input
        matInput
        name="address"
        formControlName="address"
        placeholder="Address"
      />
      <mat-error *ngIf="addLocationForm.hasError('required', 'address')">
        Address is required
      </mat-error>
      <mat-error *ngIf="addLocationForm.get('address').value.length > 255">
        Maximum number of characters allowed is 255
      </mat-error>
    </mat-form-field>

    <br />
    <mat-form-field class="form-field">
      <input
        matInput
        name="latitude"
        formControlName="latitude"
        placeholder="Latitude"
        type="number"
        step="0.000001"
      />
      <mat-error *ngIf="addLocationForm.hasError('required', 'latitude')">
        Latitude is required
      </mat-error>
      <mat-error *ngIf="addLocationForm.hasError('min', 'latitude')">
        Minimum value is -90.000000
      </mat-error>
      <mat-error *ngIf="addLocationForm.hasError('max', 'latitude')">
        Maximum value is 90.000000
      </mat-error>
      <mat-error *ngIf="addLocationForm.hasError('pattern', 'latitude')">
        The value can have a maximum of 6 decimal places
      </mat-error>
    </mat-form-field>

    <br />
    <mat-form-field class="form-field">
      <input
        matInput
        name="longitude"
        formControlName="longitude"
        placeholder="Longitude"
        type="number"
        step="0.000001"
      />
      <mat-error *ngIf="addLocationForm.hasError('required', 'longitude')">
        Longitude is required
      </mat-error>
      <mat-error *ngIf="addLocationForm.hasError('min', 'longitude')">
        Minimum value is -180.000000
      </mat-error>
      <mat-error *ngIf="addLocationForm.hasError('max', 'longitude')">
        Maximum value is 180.000000
      </mat-error>
      <mat-error *ngIf="addLocationForm.hasError('pattern', 'longitude')">
        The value can have a maximum of 6 decimal places
      </mat-error>
    </mat-form-field>

    <br />
    <mat-form-field class="form-field">
      <input
        matInput
        name="picture"
        formControlName="picture"
        placeholder="Image link"
      />
      <mat-error *ngIf="addLocationForm.hasError('required', 'picture')">
        Image is required
      </mat-error>
    </mat-form-field>

    <br />
    <button
      mat-raised-button
      color="primary"
      class="button button-primary"
      id="submitLocation"
      (click)="submit()"
      [disabled]="!addLocationForm.valid"
    >
      Add location
    </button>
  </mat-card>
</form>
