<mat-card class="mat-elevation-z10">
  <mat-toolbar color="primary">
    <h2>
      Register
    </h2>
  </mat-toolbar>

  <form [formGroup]="registerForm" class="register-form">
    <mat-form-field>
      <input name="firstName" matInput placeholder="First name" formControlName="firstName" />
      <mat-error *ngIf="registerForm.hasError('required', 'firstName')">
        First name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input name="lastName" matInput placeholder="Last name" formControlName="lastName" />
      <mat-error *ngIf="registerForm.hasError('required', 'lastName')">
        Last name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input name="email" matInput placeholder="Email" formControlName="email" />
      <mat-error *ngIf="registerForm.hasError('required', 'email')">
        Email is required
      </mat-error>
      <mat-error *ngIf="registerForm.hasError('email', 'email')">
        Email is not valid
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        name="password"
        matInput
        placeholder="Password"
        formControlName="password1"
        type="password"
      />
      <mat-error *ngIf="registerForm.hasError('required', 'password1')">
        Password is required
      </mat-error>
      <mat-error *ngIf="registerForm.hasError('minlength', 'password1')">
        Password must be at least 6 characters long
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        name="confirmPassword"
        matInput
        formControlName="password2"
        placeholder="Confirm password"
        [errorStateMatcher]="matcher"
        type="password"
      />
      <mat-error *ngIf="registerForm.hasError('notSame')">
        Passwords do not match
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="register()" [disabled]="!registerForm.valid">
      Register
    </button>
  </form>
</mat-card>
