<div class="plane">
  <ol class="cabin">
    <li *ngFor="let seats of rows" class="row row--1">
      <ol class="seats" type="A">
        <li *ngFor="let seat of seats" class="seat">
          <input
            (click)="seatAction(seat)"
            [disabled]="!unavailable ? true : unavailable.includes(seat)"
            type="checkbox"
            [checked]="seatsLayout?.booked?.includes(seat)"
            [id]="seat"
          />
          <label [for]="seat">{{ seat }}</label>
        </li>
      </ol>
    </li>
  </ol>
</div>
